@model List<Product>
<partial name="_Notification" />
<div class="row mb-4">
    <div class="col-md-6">
        <h2>LIST PRODUCT</h2>
    </div>
    <div class="col-md-6 text-right">
        <a asp-action="Add" class="btn btn-outline-success">
            <i class="bi bi-plus-circle-fill"></i> Add New

        </a>


    </div>
    <div class="row">
        <div class="col-mb-8">
            <form asp-action="Index" method="post">
                <div class="form-inline">
                    Name <input name="keyword" class="form-control" />
                    <button type="submit" class="btn btn-outline-secondary">Seaech</button>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-6 text-left">

        <i class="search"></i>
    </div>
</div>
<table class="table table-bordered table-active text-center" style="background-color:beige">
    <thead>
        <tr style="background-color:#096889;color:azure">
            <th>Name</th>
            <th>Price</th>
            <a href="c:\webdienthoai\webbanhang\areas\admin\views\product\update.cshtml">c:\webdienthoai\webbanhang\areas\admin\views\product\update.cshtml</a>
            <th>Category</th>
            <th>Image</th>
            <th>Action </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var a in Model)
        {
            <tr>
                <td>@a.Name</td>
                <td>@a.Price</td>
                <td>@a.Category.Name</td>
                <td>
                    @if (a.ImageUrl != null)
                    {
                        <img src="/@a.ImageUrl" style="width:100px" />
                    }
                </td>
                <td>
                    <a asp-action="Update" asp-route-id="@a.Id" class="btn btn-outline-success">

                        <i class="bi bi-pencil-square"></i> Edit
                    </a>
                    <a asp-action="Delete" asp-route-id="@a.Id" class=" btn btn-outline-dark">
                        <i class="bi bi-trash"></i> Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>

</table>
<div>
    <ul class="pagination">
        <li class="page-item @(ViewBag.PageIndex == 1 ? "disabled":"")">
            <a class="page-link" asp-action="Index" asp-route-page="1">&laquo;</a>
        </li>
        @for (var i = 1; i <= ViewBag.PageSum; i++)
        {
            <li class="page-item @(ViewBag.PageIndex == i ? "active" : "")">
                <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
            </li>
        }
        <li class="page-item @(ViewBag.PageIndex == @ViewBag.PageSum ? "disabled" : "")">
            <a class="page-link" asp-action="Index" asp-route-page="@ViewBag.PageSum">&raquo;</a>
        </li>
    </ul>
</div>  